<app-auth-modal-page-template title="Login">
    <mat-card-content class="auth-card-content">
        <form [formGroup]="formLogin">
            <mat-form-field appearance="outline" >
                <mat-label>Username</mat-label>
                <input matInput type="text"  name="username" formControlName="username" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" formControlName="password" required>
            </mat-form-field>
            <a mat-button color="primary">Forgot Password?</a>
            <button mat-raised-button color="primary" (click)="login()">Login</button>
        </form>
        <div class="login-page-signup">
            <p>Don't have an account?</p>
            <a mat-button color="primary" (click)="redirectToRegister()">Register</a>
        </div>
    </mat-card-content>
</app-auth-modal-page-template>
